In [99]:
import pandas as pd
import numpy as np
import math as m

In [100]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/weather.csv',index_col=False)

In [109]:
df

     outlook temperature humidity  windy play
0   overcast         hot     high  False  yes
1   overcast        cool   normal   True  yes
2   overcast        mild     high   True  yes
3   overcast         hot   normal  False  yes
4      rainy        mild     high  False  yes
5      rainy        cool   normal  False  yes
6      rainy        cool   normal   True   no
7      rainy        mild   normal  False  yes
8      rainy        mild     high   True   no
9      sunny         hot     high  False   no
10     sunny         hot     high   True   no
11     sunny        mild     high  False   no
12     sunny        cool   normal  False  yes
13     sunny        mild   normal   True  yes

In [103]:
# variable a is the single attribute column which is being passed in the function
# This function count the info gain for the main attribute/class passed as you can see below
def main_class_info_count(a):
  ans=0
  a=a.value_counts()
  for i in range(len(a)):
    tot=a.sum()
    value=(-a[i]/tot)*(m.log2(a[i]/tot))
    ans+= value
  return ans

In [104]:
def info_count_pro_max(x_col,df):
  b=x_col.value_counts()
  c=b.keys()
  temp_ans=0
  for i in c:
    a=df[x_col== i]
    temp_ans+=(len(a)/N) * main_class_info_count(a[target_col_name])
  return temp_ans

In [105]:
#This function will count the gain out of all and will return whichever is the maximum helpfull function for this are declared above
def count_main_tree(df):
  max=0
  max_name=''
  for i in range(len(df.columns)-1):
    i=df.columns[i]
    final_ans=info_count_pro_max(df[i],df)
    main_info_value=main_class_info_count(df[target_col_name])
    gain=main_info_value-final_ans
    if(gain>max):
      max=gain
      max_name=i
  return max_name,df[max_name].unique()

In [106]:
#This function will split the data
def split_data(spli_by_col_name,df):
  b=spli_by_col_name.value_counts()
  c=b.keys()
  temp_ans=0
  sub_frames=[]
  for i in c:
    a=df[spli_by_col_name== i]
    sub_frames.append([a])
  return sub_frames

In [111]:
#This is the main function which will give us the tree and its node
def call_again_rec(df,node_name=None,root=0):
  if(root):
    node,sub_branch=count_main_tree(df)
    print('Root Node is -----------><<<<{}>>>> and its branch/subnodes are <<<<{}>>>>'.format(node,sub_branch))
    node_name=node
    root=0
    call_again_rec(df,node_name,root)
  else:
    list_of_sub_frames=split_data(df[node_name],df)
    for i in range(len(list_of_sub_frames)):
      temp_df=list_of_sub_frames[i][0]
      if(len(temp_df[target_col_name].unique())>=2):
        max_,max_list_=count_main_tree(temp_df)
        call_again_rec(temp_df,max_)
      else:
        above_sub_tree_cols=temp_df.columns[0]
        above_tree_node=df[above_sub_tree_cols].unique()[0]
        print('Direct assignment from <<<<{}>>>> to  <<<< {} >>>> to  the given -------> <<<<{}>>>> value and the clas will be ---------> <<<<{}>>>>'.format(above_tree_node,node_name,temp_df[node_name].unique()[0],temp_df[target_col_name].unique()[0]))

Testing the code here where we are passing the dataframe with the default value of root which shows that we are finding tree from the root node.

In [112]:
N=len(df)
target_col_name='play'
call_again_rec(df,root=1)

Root Node is -----------><<<<outlook>>>> and its branch/subnodes are <<<<['overcast' 'rainy' 'sunny']>>>>
Direct assignment from <<<<rainy>>>> to  <<<< windy >>>> to  the given -------> <<<<False>>>> value and the clas will be ---------> <<<<yes>>>>
Direct assignment from <<<<rainy>>>> to  <<<< windy >>>> to  the given -------> <<<<True>>>> value and the clas will be ---------> <<<<no>>>>
Direct assignment from <<<<sunny>>>> to  <<<< humidity >>>> to  the given -------> <<<<high>>>> value and the clas will be ---------> <<<<no>>>>
Direct assignment from <<<<sunny>>>> to  <<<< humidity >>>> to  the given -------> <<<<normal>>>> value and the clas will be ---------> <<<<yes>>>>
Direct assignment from <<<<overcast>>>> to  <<<< outlook >>>> to  the given -------> <<<<overcast>>>> value and the clas will be ---------> <<<<yes>>>>

Now based on this we can define the set of rules as follow we haven't automated this code as our main ideas was to explain the maths behind Decision Tree (ID3) algorithm.

In [110]:
outlook='overcast'
temperature='hot'
humidity='high'
windy	='False'
play='yes'

In [113]:
if(outlook=='rainy'):
  if(windy=='False'):
    print('Given point is belong to class ----> Yes')
  elif(windy=='True'):
    print('Given point is belong to class ----> no')
elif(outlook=='overcast'):
    print('Given point is belong to class ----> Yes')
elif( outlook=='sunny'):
  if(humidity=='high'):
    print('Given point is belong to class ----> No')
  elif(humidity=='normal'):
    print('Given point is belong to class ----> Yes')

Given point is belong to class ----> Yes